*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  text-align: center;
}

h1 {
  margin-bottom: 30px; 
}

button {
  font-size: 20px;
  border: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 25px;
  width: 90%;
  color: white;
  background-color: #657383;
}

button:hover {
  background-color: #2A3439;
}

.grid, .user-section {
  margin: 20px;
}
